airline-reservation-system/.vs/slnx.sqlite
airline-reservation-system/.vs/VSWorkspaceState.json
airline-reservation-system/.vs/airline-reservation-system/v16/.suo
airline-reservation-system/.vs/ProjectSettings.json
airline-reservation-system/jsconfig.json
