.message_container {
  display: flex;
  flex-direction: "row";
  margin-top: 20px !important;
  align-content: baseline;
}

.user_message {
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
  overflow-wrap: anywhere;
  background-color: #1096F5;
}

.bot_message {
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
  overflow-wrap: anywhere;
  background-color: #EFF2F5;
  color: "black";
  margin-top: 20px;
}