.cart {
    width: 100%;
    height: 100vh;
    background-color:white;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../../images/airlines/face.jpg');
    background-size: cover;
}

.cartWrapperOne{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 30px;
}

